@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-gradient-to-b from-[#EDE7E4] to-[#E4DCD8] text-carbon antialiased font-sans;
}

::selection {
  @apply bg-rojo/20;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply bg-borde rounded-full;
}
.scrollbar-thin::-webkit-scrollbar-track {
  @apply bg-transparent;
}
